.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 8px;
}

.input-row {
  display: flex;
  gap: 15px;
  width: 100%;
}

.form-field {
  flex-grow: 1;
  min-width: 100px;
}

.form-field.latitude {
  flex-basis: 10%;
}

.form-field.longitude {
  flex-basis: 10%;
}

.form-field.vehicle-plate {
  flex-basis: 10%;

}.button-container {
  display: flex;
  justify-content: centerf width: 100%;
  margin-top: 15px;
}

button {
  width: 100px;
}

