.main-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: flex-start; /* Alinha os elementos ao topo */
  height: 100vh; /* Altura total da viewport */
  gap: 20px; /* Espaço entre o mapa e o content-container */
  padding: 25px;
  box-sizing: border-box;
}

.content-container, app-map {
  width: 50%; /* Divide igualmente entre os dois lados */
  max-width: 850px; /* Define uma largura máxima */
  height: 100%; /* Garante que ambos ocupem a altura total da main-container */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.vehicle-chip-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
}

mat-chip {
  font-size: 1.2rem;
  height: 40px;
  padding: 0 16px;
}

