.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

#map {
  height: 88%;
  border-radius: 15px;
  overflow: hidden;
}

app-map {
  width: 65%;
  height: 120px;
  padding: 10px;
  border-radius: 10px;
}

