.table-container {
  max-height: 810px;
  overflow-y: auto;
}

.mat-table {
  width: 100%;
}

.mat-mdc-row:hover {
  cursor: pointer;
  background-color: var(--mat-table-row-item-outline-color);
  color: var(--mat-primary-contrast);
  transition: background-color 0.2s ease-in-out;
}

.selected {
  background-color: var(--mat-table-row-item-outline-color);
  color: var(--mat-primary-contrast);
  transition: background-color 0.2s ease-in-out;
}
