.table-container {
  max-height: 400px; /* Altura fixa para o grid */
  overflow-y: auto; /* Barra de rolagem vertical */
}

.mat-table {
  width: 100%; /* Garante que a tabela ocupe toda a largura do container */
}

.mat-mdc-row:hover {
  cursor: pointer;
  background-color: var(--mat-table-row-item-outline-color);
  color: var(--mat-primary-contrast);
  transition: background-color 0.2s ease-in-out;
}

.selected {
  background-color: var(--mat-table-row-item-outline-color); /* Cor de fundo da linha selecionada */
  color: var(--mat-primary-contrast); /* Cor do texto da linha selecionada */
  transition: background-color 0.2s ease-in-out;
}
